venv/
*.egg-info/
.env
*.sqlite3
db.sqlite3

*/migrations/*

*.log

*.pot
*.pyc
*.pyo
*.pyd
__pycache__/

.vscode/
.idea/

*.iml

Thumbs.db
Desktop.ini

.DS_Store

/media/

*.zip
*.tar.gz

/staticfiles/
.env/