<!doctype html>

<html lang="en" class="no-js">
<head>
	{% load static %}
	<title>Foody</title>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Montserrat:300,400,400i,500,500i,600,700,800,900|PT+Serif:400,400i,700,700i" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'css/foody.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="icon" href="{% static 'favicon.ico' %}">

</head>
<body>

	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		{% include 'navbar.html' %}
		<!-- End Header -->

		<!-- page-banner-section 
			================================================== -->
		<section class="page-banner-section delivery">
			<div class="container">
				<p>Tú estás en: <a href="/">Inicio</a> / <a href="/contact">Contacto</a></p>
			</div>
		</section>
		<!-- End page-banner section -->

		<!-- location-section 
			================================================== -->
		<section class="location-section">
			<div class="container">
				<div class="title-box">
					<h1 class="title-line">
						<span>Aqui nos encontramos!</span>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900.88 217"><polygon points="900.88 0 868.07 217 60.56 217 0 48.04 900.88 0"/></svg>
					</h1>
					<p>Gracias por buscarnos... aqui tienes nuestra ubicación</p>
				</div>
			</div>
			<div class="location-box">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12">
							<div class="location-address">
								<h2>Locacion</h2>
								<h3>Horario</h3>
								<ul class="working-list">
									<li>
										<span>Lunes - Viermes</span> <span class="right-align">08:00 - 18:00h</span>
									</li>

								</ul>
								<h3>Dirección</h3>
								<p>Loma dorada <br> #3132 ext. 2314 <br>Tonala, Jalisco, Mexico</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="map"></div>
		</section>
		<!-- End page-banner section -->

		<!-- testimonial-section 
			================================================== -->
		<section class="testimonial-section">
			<div class="container">
				<div class="testimonial-box">
					<div class="title-box">
						<h1 class="title-line">
							<span>Testimonios</span>
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900.88 217"><polygon points="900.88 0 868.07 217 60.56 217 0 48.04 900.88 0"/></svg>
						</h1>
						<p>Trabajando y brindando el mejor servicio del Condado</p>
					</div>
					<div class="owl-wrapper">
						<div class="owl-carousel" data-num="2">

							<div class="item">
								<div class="testimonial-post">
									<img src="{% static 'upload/others/test1.jpg' %}" alt="">
									<div class="post-content">
										<h2>Terrraza Olivares</h2>
										<span>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</span>
										<p>Agradezco mucho la atencion, los precios son los mejores que he encotrado, no cabe duda que seran mi proveedor de confianza</p>
									</div>
								</div>
							</div>
						
							<div class="item">
								<div class="testimonial-post">
									<img src="{% static 'upload/others/test2.jpg' %}" alt="">
									<div class="post-content">
										<h2>Hansom rob</h2>
										<span>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star-half-o" aria-hidden="true"></i>
											<i class="fa fa-star-o" aria-hidden="true"></i>
										</span>
										<p>Great place, great people, and most of all great pizza I definetelly recommend it to all of the people, don’t miss this great spot. :)</p>
									</div>
								</div>
							</div>
						
							<div class="item">
								<div class="testimonial-post">
									<img src="{% static 'upload/others/test1.jpg' %}" alt="">
									<div class="post-content">
										<h2>Bearded guy</h2>
										<span>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</span>
										<p>Great place, great people, and most of all great pizza I definetelly recommend it to all of the people, don’t miss this great spot. :)</p>
									</div>
								</div>
							</div>
						
							<div class="item">
								<div class="testimonial-post">
									<img src="{% static 'upload/others/test2.jpg' %}" alt="">
									<div class="post-content">
										<h2>Hansom rob</h2>
										<span>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star-half-o" aria-hidden="true"></i>
											<i class="fa fa-star-o" aria-hidden="true"></i>
										</span>
										<p>Great place, great people, and most of all great pizza I definetelly recommend it to all of the people, don’t miss this great spot. :)</p>
									</div>
								</div>
							</div>
						
							<div class="item">
								<div class="testimonial-post">
									<img src="{% static 'upload/others/test1.jpg' %}" alt="">
									<div class="post-content">
										<h2>Bearded guy</h2>
										<span>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
											<i class="fa fa-star" aria-hidden="true"></i>
										</span>
										<p>Great place, great people, and most of all great pizza I definetelly recommend it to all of the people, don’t miss this great spot. :)</p>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End testimonial section -->

		<!-- footer 
			================================================== -->
		{% include 'footer.html' %}
		<!-- End footer -->

	</div>
	<!-- End Container -->

	<script src="{% static 'js/foody.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/DevSolutionSkill.min.js' %}"></script>
	<script src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
	<script src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiqrIen8rWQrvJsu-7f4rOta0fmI5r2SI&amp;sensor=false&amp;language=en"></script>
	<script src="{% static 'js/gmap3.min.js' %}"></script>


</body>
</html>