<!-- footer.html -->
<footer>
    {% load static %}
    <div class="upper-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widgets-area">
                        <div class="footer-widget text-widget">
                            <h2>Opening hours</h2>
                            <ul class="working-list">
                                <li>
                                    <span>Monda - Friday</span> <span class="right-align">08:00 - 23:00h</span>
                                </li>
                                <li>
                                    <span>Saturday</span> <span class="right-align">08:00 - 23:00h</span>
                                </li>
                                <li>
                                    <span>Sunday</span> <span class="right-align">08:00 - 23:00h</span>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-widget text-widget">
                            <h2>our address</h2>
                            <p>Burger Head Office <br>54866 2nd Road NY 48766<br> Ney York, U.S.A</p>

                            <p>Make Reservations: 0 800 111 555 666 <br> Email: info@yourdomain.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="map-holder">
                        <div class="map"></div>
                        <div class="order-btn-box">
                            <a class="button-one" href="#">make your order now!</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widgets-area">
                        <div class="footer-widget subscribe-widget">
                            <h2>subscribe now</h2>
                            <p>Subscribe now for our new updates and get regular offers and stuff</p>
                            <form id="subscribe-form">
                                <input type="text" name="email" id="email" placeholder=""/>
                                <input type="submit" id="submit_subscribe" value="Subscribe">
                            </form>
                        </div>
                        <div class="footer-widget social-widget">
                            <h2>Social Networks</h2>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-line">
        <p><span>Mexbull &copy;</span> 2024 desarrollado por <span>RexDevelop</span></p>
    </div>
</footer>
