<!-- footer.html -->
<footer>
    {% load static %}
    <div class="upper-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="widgets-area">
                        <div class="footer-widget text-widget">
                            <h2>Opening hours</h2>
                            <ul class="working-list">
                                <li>
                                    <span>Monda - Friday</span> <span class="right-align">08:00 - 23:00h</span>
                                </li>
                                <li>
                                    <span>Saturday</span> <span class="right-align">08:00 - 23:00h</span>
                                </li>
                                <li>
                                    <span>Sunday</span> <span class="right-align">08:00 - 23:00h</span>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-widget text-widget">
                            <h2>our address</h2>
                            <p>Burger Head Office <br>54866 2nd Road NY 48766<br> Ney York, U.S.A</p>

                            <p>Make Reservations: 0 800 111 555 666 <br> Email: info@yourdomain.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="map-holder">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1485.8823059544952!2d-103.2559997052822!3d20.628811882625968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8b6298779067a121%3A0xbfa98005edb4eb51!2sRexDevelop!5e0!3m2!1ses-419!2smx!4v1733536777026!5m2!1ses-419!2smx" width="550" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <div class="order-btn-box">
                            <a class="button-one" href="#">Contactanos ahora!</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="widgets-area">
                        <div class="footer-widget subscribe-widget">
                            <h2>Subscribete Ahora</h2>
                            <p>Subscribete para que tengas las últimas noticias <br> al instante</p>
                            <form id="subscribe-form">
                                <input type="text" name="email" id="email" placeholder=""/>
                                <input type="submit" id="submit_subscribe" value="Subscribe">
                            </form>
                        </div>
                        <div class="footer-widget social-widget">
                            <h2>Redes Sociales</h2>
                            <ul class="social-icons">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li></li>
                                <li><a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a></li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-line">
        <p><span>Mexbull &copy;</span> 2024 desarrollado por <span>RexDevelop</span></p>
    </div>
</footer>
