<!-- footer.html -->
<footer>
    {% load static %}
    <div class="upper-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="widgets-area">
                        <div class="footer-widget text-widget">
                            <h2>Horario</h2>
                            <ul class="working-list">
                                <li>
                                    <span>Lunes - Viernes</span> <span class="right-align">09:00 - 18:00h</span>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-widget text-widget">
                            <h2>Nuestra Direccion</h2>
                            <p>Una direccion <br>0000 int 0 colonia municipio 48766<br> estado, pais</p>

                            <p>Contactanos al: 0 800 111 555 666 <br> O al correo: info@yourdomain.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="map-holder">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1485.8823059544952!2d-103.2559997052822!3d20.628811882625968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8b6298779067a121%3A0xbfa98005edb4eb51!2sRexDevelop!5e0!3m2!1ses-419!2smx!4v1733536777026!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <div class="order-btn-box">
                            <a class="button-one" href="#">Contactanos ahora!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-line">
        <p><span>Mexbull &copy;</span> 2024 desarrollado por <span>RexDevelop</span></p>
    </div>
</footer>
