<!doctype html>

<html lang="en" class="no-js">
<head>
	{% load static %}
	{% load humanize %}
	<title>Foody</title>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="icon" href="{% static 'favicon.ico' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Montserrat:300,400,400i,500,500i,600,700,800,900|PT+Serif:400,400i,700,700i" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'css/foody.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="icon" href="{% static 'favicon.ico' %}">
</head>
	<body>

		<!-- Container -->
		<div id="container">
			<!-- Header
				================================================== -->
			{% include 'navbar.html' %}
			<!-- End Header -->

			<!-- page-banner-section
				================================================== -->
			<section class="page-banner-section menu">
				<div class="container">
					<p>Tú estás en: <a href="/">Inicio</a> / <a href="/menu">Productos y Servicios S</a></p>
				</div>
			</section>
			<!-- End page-banner section -->

			<!-- small-menu-section
				================================================== -->
			<section class="small-menu-section">
				<div class="container">
				<div class="menu-box">
					{% for categoria_con_productos in categorias_con_productos %}
						{% if categoria_con_productos.productos.count > 0 %}
							<h1 class="menu-title">~ {{ categoria_con_productos.categoria.nombre }} ~</h1>

							<div class="row">
								{% for item in categoria_con_productos.productos %}
									<div class="col-lg-4 col-md-6">
										<div class="menu-post">
											<div class="menu-content">
												<div class="image-holder">
													<img src="{{ MEDIA_URL }}/media/{{ item.imagen_portada }}" alt="">
												</div>
												<div class="post-content">
													<h2><a href="#">{{ item.nombre }}</a></h2>
													<p>{{ item.descripcion }}</p>
												</div>
											</div>
											<div class="menu-price-order">
												{% if item.precio_estandar %}
													<span class="price">${{ item.precio_estandar|floatformat:2|intcomma }}</span>
												{% else %}
													<span class="price">Precio no disponible</span>
												{% endif %}
												<a href="#" class="order">Ordenar</a>
												<a href="#" class="details">Detalles</a>
											</div>
										</div>
									</div>
								{% empty %}
									<p>No items available</p>
								{% endfor %}
							</div>
						{% endif %}
					{% endfor %}
				</div>
			</div>
			</section>

			<!-- End small-menu section -->

			<!-- footer
				================================================== -->
			{% include 'footer.html' %}
		<!-- End Container -->

		<script src="{% static 'js/foody.min.js' %}"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/DevSolutionSkill.min.js' %}"></script>
		<script src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
		<script src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiqrIen8rWQrvJsu-7f4rOta0fmI5r2SI&amp;sensor=false&amp;language=en"></script>
		<script src="{% static 'js/gmap3.min.js' %}"></script>
	</body>
	<style>
		.menu-post .post-content p {
			display: -webkit-box;        /* Hace que el párrafo se convierta en un contenedor flexible */
			-webkit-line-clamp: 4;       /* Número de líneas a mostrar */
			-webkit-box-orient: vertical;/* Establece la orientación del contenedor */
			overflow: hidden;            /* Oculta el texto excedente */
			text-overflow: ellipsis;     /* Agrega los tres puntos (...) si hay texto excedente */
		}
	</style>
</html>