<!doctype html>

<html lang="en" class="no-js">
<head>
	{% load static %}
	{% load humanize %}
	<title>Foody</title>

	<meta charset="utf-8">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href="https://fonts.googleapis.com/css?family=Gochi+Hand|Montserrat:300,400,400i,500,500i,600,700,800,900|PT+Serif:400,400i,700,700i" rel="stylesheet">

	<link rel="stylesheet" href="{% static 'css/foody.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="icon" href="{% static 'favicon.ico' %}">

	<style>
		.blog-post .post-content p {
			display: -webkit-box;        /* Hace que el párrafo se convierta en un contenedor flexible */
			-webkit-line-clamp: 4;       /* Número de líneas a mostrar */
			-webkit-box-orient: vertical;/* Establece la orientación del contenedor */
			overflow: hidden;            /* Oculta el texto excedente */
			text-overflow: ellipsis;     /* Agrega los tres puntos (...) si hay texto excedente */
		}

		.blog-post img {
		width: 100px;           /* Ajusta el ancho de la imagen */
		height: 100px;          /* Ajusta la altura de la imagen */
		object-fit: cover;      /* Asegura que la imagen mantenga la proporción sin distorsión */
		}
	</style>

</head>
<body>

	<!-- Container -->
	<div id="container">
		<!-- Header
		    ================================================== -->
		{% include 'navbar.html' %}
		<!-- End Header -->

		<!-- page-banner-section
			================================================== -->
		<section class="page-banner-section delivery">
			<div class="container">
					<p>Tú estás en: <a href="/">Inicio</a> / <a href="/productos/">Productos</a></p>
			</div>
		</section>
		<!-- End page-banner section -->

		<!-- blog-section
			================================================== -->
		<section class="blog-section">
			<div class="container">
				<div class="blog-box">
					<div class="single-post">
						<img src="{{ MEDIA_URL }}/media/{{ paquete.banner }}" alt="paquete.nombre ">
						<h2>{{ paquete.nombre }}</h2>
						<p> {{ paquete.descripcion }}</p>
						<p class="quote-line">{{ paquete.descripcion_completa }}</p>
						<br>
						<h2><p>Precio: $ {{ paquete.precio|floatformat:2|intcomma }}</p></h2>
						<br>
						<div class="row">
							<div class="related-posts">
								<div class="center-area">
									<h2>PRODUCTOS/SERVICIOS DEL PAQUETE</h2>
								</div>

								<div class="row">
									{% for producto in paquete.productos.all %}
										{% if forloop.counter0|divisibleby:3 and forloop.counter0 != 0 %}
											</div><div class="row">  <!-- Crea una nueva fila cada 3 productos -->
										{% endif %}

										<div class="col-md-4">
											<div class="blog-post">
												<img src="{{ MEDIA_URL }} /media/{{ producto.imagen_portada }}" alt="producto.id" style="max-width: 350px;">
												<div class="post-content">
													<h2><a href="/producto/{{ producto.id }}">{{ producto.nombre }}</a></h2>
													<p>{{ producto.descripcion }}</p>

													{% for precio in producto.precios.all %}
													 	{% if precio.activo %}
															<a>{{ precio.tipo_precio}} : $ {{ precio.precio|floatformat:2|intcomma }} </a><br>
													    {% endif %}
													{% endfor %}
													<a href="#"></a>
												</div>
											</div>
										</div>

									{% empty %}
										<div class="col-md-12">
											<div class="blog-post">
												<img src="{% static 'upload/blog/r1.jpg' %}" alt="">
												<div class="post-content">
													<h2>No hay productos disponibles</h2>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>

					<div class="author-share-block">
						<div class="row">
							<div class="col-md-8">
								<div class="author-box">
									<div class="image-hold">
										<img src="{% static 'upload/blog/avatar.jpg' %}" alt="">
									</div>
									<div class="author-content">
										<h3>Contactanos, haz tu pedido ahora!</h3>
										<ul class="social-auth">
											<li><a href="#">Facebook</a></li>
											<li><a href="#">Twitter</a></li>
											<li><a href="#">Email</a></li>
										</ul>
										<p>Si tienes alguna duda o quieres pedir este increible articulo puedes hacer por medio de las redes o ben si lo quieres, tambien por medio de Wshatsapp</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="share-tags-box">
									<ul class="share-list">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li>
										<li><a href="#"><i class="fa fa-youtube"></i></a></li>
										<li><a href="#"><i class="fa fa-instagram"></i></a></li>
										<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
										<li><a href="#"><i class="fa fa-vimeo"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="related-posts">
						<div class="center-area">
							<h2>Otros Paquetes</h2>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="blog-post">
									<img src="{% static 'upload/blog/r1.jpg' %}" alt="">
									<div class="post-content">
										<ul class="post-meta">
											<li>
												<a href="#">12-01-2016</a>
											</li>
											<li>
												<a href="#">13 comments</a>
											</li>
										</ul>
										<h2><a href="single-post.html">Another post</a></h2>
										<p>A chef is a highly trained and skilled professional cook who is proficient in all aspects of food preparation of a particular cuisine. The word "chef" is derived...</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="blog-post">
									<img src="{% static 'upload/blog/r2.jpg' %}" alt="">
									<div class="post-content">
										<ul class="post-meta">
											<li>
												<a href="#">12-01-2016</a>
											</li>
											<li>
												<a href="#">13 comments</a>
											</li>
										</ul>
										<h2><a href="single-post.html">Different post</a></h2>
										<p>A chef is a highly trained and skilled professional cook who is proficient in all aspects of food preparation of a particular cuisine. The word "chef" is derived...</p>
										<a href="#">by johny bravo</a>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="blog-post">
									<img src="{% static 'upload/blog/r3.jpg' %}" alt="">
									<div class="post-content">
										<ul class="post-meta">
											<li>
												<a href="#">12-01-2016</a>
											</li>
											<li>
												<a href="#">13 comments</a>
											</li>
										</ul>
										<h2><a href="single-post.html">Another post</a></h2>
										<p>A chef is a highly trained and skilled professional cook who is proficient in all aspects of food preparation of a particular cuisine. The word "chef" is derived...</p>
										<a href="#">by johny bravo</a>
									</div>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>
		</section>
		<!-- End blog section -->

		<!-- footer
			================================================== -->
		{% include 'footer.html' %}
		<!-- End footer -->

	</div>
	<!-- End Container -->

	<script src="{% static 'js/foody.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/DevSolutionSkill.min.js' %}"></script>
	<script src="{% static 'js/jquery.themepunch.tools.min.js' %}"></script>
	<script src="{% static 'js/jquery.themepunch.revolution.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCiqrIen8rWQrvJsu-7f4rOta0fmI5r2SI&amp;sensor=false&amp;language=en"></script>
	<script src="{% static 'js/gmap3.min.js' %}"></script>

</body>

</html>