<!-- story_section.html -->
<section class="story-section">
    {% load static %}
    <div class="container">
        <div class="item-content">
            <div class="row">
                <div class="col-lg-8 offset-lg-4">
                    <div class="title">
                        <h1>Nuestra HISTORIA</h1>
                    </div>
                    <p>Mas de 10 años de experiencia, siempre brindandote la atencion personalizada que mereces. Un logro realizado por la fuerza de trabajo del mejor en el mercado.</p>
                    <div class="skills-box">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="circle1" class="circle-skill" data-percent="85" data-background="#ff9900">
                                    <div class="inner-circle">
                                        <div>
                                            <span>999</span>
                                            <p>Inflables <br> fabricados</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="circle2" class="circle-skill" data-percent="99" data-background="#ff9900">
                                    <div class="inner-circle">
                                        <div>
                                            <span>100%</span>
                                            <p>Clientes </br> satisfechos</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div id="circle3" class="circle-skill" data-percent="75" data-background="#ff9900">
                                    <div class="inner-circle">
                                        <div>
                                            <span>10</span>
                                            <p>Años de <br> Experiencia</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="image-holder">
        <img src="{% static 'upload/others/a3.jpg' %}" alt="">
    </div>
</section>
