<!-- testimonial_section.html -->
<section class="testimonial-section">
	{% load static %}
	<div class="container">
		<div class="testimonial-box">
			<div class="title-box">
				<h1 class="title-line">
					<span>Testimonios</span>
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 900.88 217"><polygon points="900.88 0 868.07 217 60.56 217 0 48.04 900.88 0"/></svg>
				</h1>
				<p>Trabajando y brindando el mejor servicio del Condado</p>
			</div>
			<div class="owl-wrapper">
				<div class="owl-carousel" data-num="2">

					<div class="item">
						<div class="testimonial-post">
							<img src="{% static 'upload/others/test1.jpg' %}" alt="">
							<div class="post-content">
								<h2>Terrraza Olivares</h2>
								<span>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
								</span>
								<p>Agradezco mucho la atencion, los precios son los mejores que he encotrado, no cabe duda que seran mi proveedor de confianza</p>
							</div>
						</div>
					</div>

					<div class="item">
						<div class="testimonial-post">
							<img src="{% static 'upload/others/test2.jpg' %}" alt="">
							<div class="post-content">
            					<h2>Eventos Plaza Mayor</h2>
								<span>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star-half-o" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
								</span>
            					<p>Los toros mecánicos de Mexbull son impresionantes. Sin duda alguna, nos aseguraron un evento lleno de emoción y diversión. ¡Gracias por tan excelente servicio!</p></div>
						</div>
					</div>

					<div class="item">
						<div class="testimonial-post">
							<img src="{% static 'upload/others/test1.jpg' %}" alt="">
							<div class="post-content">
            					<h2>Fiestas del Valle</h2>
								<span>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
								</span>
            					<p>Los toros mecánicos de Mexbull son impresionantes. Sin duda alguna, nos aseguraron un evento lleno de emoción y diversión. ¡Gracias por tan excelente servicio!</p></div>
						</div>
					</div>

					<div class="item">
						<div class="testimonial-post">
							<img src="{% static 'upload/others/test2.jpg' %}" alt="">
							<div class="post-content">
        						<h2>Parques y Diversión</h2>
								<span>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star-half-o" aria-hidden="true"></i>
									<i class="fa fa-star-o" aria-hidden="true"></i>
								</span>
            					<p>Los toros mecánicos de Mexbull son impresionantes. Sin duda alguna, nos aseguraron un evento lleno de emoción y diversión. ¡Gracias por tan excelente servicio!</p>
							</div>
						</div>
					</div>

					<div class="item">
						<div class="testimonial-post">
							<img src="{% static 'upload/others/test1.jpg' %}" alt="">
							<div class="post-content">
								<h2>Celebraciones Especiales</h2>
								<span>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
									<i class="fa fa-star" aria-hidden="true"></i>
								</span>
        						<p>Muy contentos con el servicio y la calidad de los productos. Los inflables son seguros, divertidos y duraderos. ¡Sin duda repetiremos con Mexbull en nuestros próximos eventos!</p>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
